body{
    background-color:black;
}
h1{
    color:white;
}
.picture{
    width:100px;
    height:auto;
    object-fit:contain;
}
p{
    color:rgb(69, 224, 69);
    text-decoration-line: underline;
     text-decoration-style:dotted;
    text-decoration-color: blue;
}