h2{
    color:rgb(39,112,165);
    font-family: 'Times New Roman', Times, serif;
}
.p1{
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
}
.p2{
    background-color: rgb(255,250,239);
    border-left:5px solid rgb(223,201,78);
    padding-left:12px;
    padding-top:12px;
    padding-bottom: 12px;
}