.textalign{
    color:red;
    background-color:lightgray;
}
*{
    font-family:Verdana;
}
div{
    background-color: lightgray;
    padding: 20px;
}
.intable{
    text-align:center;
}
table{
    border-collapse: collapse;
    border-color:rgb(91, 224, 91);
    border-radius:20px;
}
.p2{
    background-color: white;
    padding-left:12px;
    border-left:12px solid rgb(91, 224, 91);
    border-radius:5px;
    padding:15px;
    line-height: 1.5;
}
.center{
    color:rgba(192, 132, 134);
}
.red{
    color:rgba(235, 87, 80);
}
.blue{
    color:rgba(98, 99, 206);
}
.button{
    background-color:rgb(91, 224, 91);
    color:white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    display:inline-block;
    transition:0.3s;
}
.button:link{
    color:rgb(91, 224, 91);
}
.button:hover{
    color:red;
}
.button:visited{
    color:yellow;
}