
*{
    font-family:Verdana;
}
.tieude{
    background-color:rgb(76, 76, 240);
    color:white;
}
.td1{
    background-color:rgba(242, 242, 242);
}
.td3{
    background-color:rgba(242, 242, 242);
}
.td5{
    background-color:rgba(242, 242, 242);
}
.buttonview{
    background-color:rgb(18, 173, 18);
    color:white;
    border-radius:10px;
    padding:20px;
    text-align:center;
    border-collapse:collapse;
    box-shadow:none;
}
.buttonupdate{
    background-color:rgb(167, 140, 22);
    color:black;
    border-radius:10px;
    padding:20px;
    text-align:center;
    border-collapse:collapse;
    box-shadow:none;
}
.buttondelete{
    background-color:rgb(214, 30, 30);
    color:white;
    border-radius:10px;
    padding:20px;
    text-align:center;
    border-collapse:collapse;
    box-shadow:none;
    align-items:center;
}
.caption{
    size:100px;
    text-align:center;

}